<h1><%= @brand.name %></h1>

  <div>
    <%= link_to "編集", edit_admin_brand_path(@brand) %>
    <%= link_to "削除", admin_brand_path(@brand), data: {
                    turbo_method: :delete,
                    turbo_confirm: "ブランドを削除しますか？"
                    } %>
  </div>
<%= link_to "ブランド一覧に戻る", admin_brands_path %>
<h2>商品</h2>
<ul>
 <% @products.each do |product| %>
    <li><%= link_to product.name, admin_product_path(product) %></li>
 <% end %>
</ul>
  <%= link_to "商品を追加", new_admin_brand_product_path(@brand), class: "btn btn-primary" %>