<%= form_with model: [:admin, @tag] do |form| %>
  <% @tag.errors.full_messages_for(:name).each do |message| %>
      <div class="error-message text-danger"><%= message %></div>
    <% end %>

  <div>
    <%= form.label :name, "タグ名" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit @tag.new_record? ? "タグを作成" : "タグを更新" %>
  </div>
<% end %>
