<%= form_with model: @tag do |form| %>
  <% if @tag.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@tag.errors.count, "エラー") %> が発生しました:</h2>
      <ul>
        <% @tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "タグ名" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit @tag.new_record? ? "タグを作成" : "タグを更新" %>
  </div>
<% end %>
