<div class="productpage-top">
  <div class="productpage-left">
    <% if @product.image_url.present? %>
      <img src="<%= @product.image_url %>" height=200 width="200">
    <% end %>
  </div>
  <div class="productpage-right">
    <h1><%= @product.name %></h1>
    <p><%= link_to @brand.name, admin_brand_path(@brand), class: "productpage-brand" %></p>
    <% @product.product_tags.each do |product_tag| %>
      <%= link_to product_tag.tag.name, admin_tag_path(product_tag.tag) ,class: "tag"%>
        <%= link_to "編集", edit_admin_product_product_tag_path(@product, product_tag), class: "btn btn-warning btn-sm" %>
        <%= link_to "削除", admin_product_product_tag_path(@product, product_tag), data: {
                      turbo_method: :delete,
                      turbo_confirm: "タグを削除しますか？"
                    },class: "btn btn-danger btn-sm" %>
    <% end %>
    <div class="record">
      <div class="record_btn">欲しい</div>
      <div class="record_btn">所持中</div>
      <div class="record_btn">所持済み</div>
    </div>
  </div>
</div>
<div class="productpage-bottom">
<p>説明: <%= @product.body %></p>
<p>生産開始日: <%= @product.production_started_on %></p>
<p>価格: <%= @product.price %> 円</p>
  <%= link_to "新規タグ追加", new_admin_product_product_tag_path(@product), class: "btn btn-primary"%>
    <%= link_to "編集", edit_admin_product_path(@product), class: "btn btn-warning btn-sm" %>
    <%= link_to "削除", [ @product ], data: {
                  turbo_method: :delete,
                  turbo_confirm: "商品を削除しますか？"
                } ,class: "btn btn-danger btn-sm"%>
</div>