<h1 class="title">商品一覧</h1>
  <section class="grid">
    <% @products.each do |product| %>
      <div class="card product__card">
        <div class="img-space">
          <% if product.image_url.present? %>
            <img src="<%= product.image_url %>" alt="<%= product.name %>" class="card__image">
          <% end %>
        </div>
        <div class="card__body">
          <h3><%= link_to product.name, product_path(product) %></h3>
          <p><%= product.brand&.name || "ブランドなし" %></p>
        </div>
      </div>
    <% end %>
  </section>
<%= link_to "ブランド一覧へ", brands_path, class: "btn btn-secondary" %>