<div class="productpage-top">
  <div class="productpage-left">
    <% if @product.image_url.present? %>
      <img src="<%= @product.image_url %>" height=200 width="200">
    <% end %>
  </div>
  <div class="productpage-right">
    <h1><%= @product.name %></h1>
    <p><%= link_to @brand.name, @brand, class: "productpage-brand" %></p>
    <% @product.product_tags.each do |product_tag| %>
      <%= link_to product_tag.tag.name, product_tag.tag ,class: "tag"%>
    <% end %>
    <div class="record">
      <div class="record_btn">欲しい</div>
      <div class="record_btn">所持中</div>
      <div class="record_btn">所持済み</div>
    </div>
  </div>
</div>
<div class="productpage-bottom">
<p>説明: <%= @product.body %></p>
<p>生産開始日: <%= @product.production_started_on %></p>
<p>価格: <%= @product.price %> 円</p>
</div>