<h1><%= @product.name %></h1>
<p>価格: <%= @product.price %> 円</p>
<p>説明: <%= @product.body %></p>
<p>生産開始日: <%= @product.production_started_on %></p>
<p>ブランド名: <%= link_to @brand.name, @brand %></p>
<% if authenticated? %>
    <%= link_to "編集", edit_brand_product_path(@brand, @product), class: "btn btn-primary" %>
    <%= button_to "削除", @brand, method: :delete, data: { turbo_confirm: "削除を実行しますか?" } %>
<% end %>