<h1><%= @product.name %></h1>
<p>価格: <%= @product.price %> 円</p>
<p>説明: <%= @product.body %></p>
<p>生産開始日: <%= @product.production_started_on %></p>
<p>ブランド名: <%= link_to @brand.name, @brand %></p>
<% if authenticated? %>
    <%= link_to "編集", edit_product_path(@product), class: "btn btn-primary" %>
    <%= link_to "削除", [ @product ], data: {
                  turbo_method: :delete,
                  turbo_confirm: "商品を削除しますか？"
                } %>
<% end %>